div.box-tech {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background: #F5F6FA;
    border: 1px solid #F7F7F8;
    border-radius: 3px;
    /* box-shadow: 4px 2px 8px 0px rgba(0, 0, 0, 0.06), 0px 0px 4px 0px rgba(0, 0, 0, 0.04); */
}

div.box-tech img {
    max-width: 70px;
    max-height: 70px;
    overflow: hidden;

    /* height: 70px; */
}