:root {
  --blue: #7342FF;
  --background-white: #FFF;
  --background-box-white: #F5F6FA;
  --stroke-box-white: #E2E2E2;
  --principal-font: 'Sora', sans-serif;
  --secondary-font: 'Syne', sans-serif;
}

div.main {
  width: 100%;
  height: 100%;
  background-color: #F5F6FA;
  font-family: var(--principal-font);
  height: 100%;
}

@font-face {
  font-family: Sora;
  font-weight: 400;
  src: url('../public/fonts/Sora/Sora-Regular.ttf'), format('woff');
}

@font-face {
  font-family: Sora;
  font-weight: 800;
  src: url('../public/fonts/Sora/Sora-Bold.ttf'), format('woff');
}

@font-face {
  font-family: Syne;
  font-weight: 400;
  src: url('../public/fonts/Syne/Syne-Regular.ttf'), format('woff');
}

@font-face {
  font-family: Syne;
  font-weight: 800;
  src: url('../public/fonts/Syne/Syne-Bold.ttf'), format('woff');
}
